body{
    padding: 20px;
    max-width: 980px;
    margin: 0 auto;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    font-size: 25px;
    color: blue;
}

.data{
    flex: 1 0 45%;
    margin: 5px;
    padding: 5px;
}

.data.textarea{
    margin:0 .5em .1em 0;
    padding: .5em 1em;
    border: 1px solid red;
}

.texttarea{
    flex: 1 0 90%;
    width: 90%;
}

button{
    background-color: aqua;
    color: rgb(3, 41, 41) ;
    padding: 6px;
    border: 1px solid burlywood;
    border-radius: 4px;

}

button:hover{
    background-color: rgb(9, 197, 9);
}